blinker==1.6.2
boto3==1.34.82
botocore==1.34.82
Brotli==1.0.9
click==8.1.7
Flask==3.0.3
gunicorn==22.0.0
h11==0.14.0
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
MarkupSafe==2.1.3
packaging==24.1
pip==24.0
PySocks==1.7.1
python-dateutil==2.8.2
s3transfer==0.10.1
setuptools==69.5.1
six==1.16.0
urllib3
Werkzeug==3.0.3
wheel==0.43.0
