blinker @ file:///work/perseverance-python-buildout/croot/blinker_1698846408677/work
boto3 @ file:///croot/boto3_1714473544263/work
botocore @ file:///croot/botocore_1714467481215/work
Brotli @ file:///croot/brotli-split_1714483155106/work
click @ file:///work/perseverance-python-buildout/croot/click_1698845879718/work
Flask @ file:///croot/flask_1716545870149/work
gunicorn==22.0.0
h11==0.14.0
itsdangerous @ file:///croot/itsdangerous_1716533337253/work
Jinja2 @ file:///croot/jinja2_1716993405101/work
jmespath @ file:///work/perseverance-python-buildout/croot/jmespath_1701734034266/work
MarkupSafe @ file:///work/perseverance-python-buildout/croot/markupsafe_1707342994941/work
packaging==24.1
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1698845478203/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
s3transfer @ file:///croot/s3transfer_1714464400077/work
setuptools==69.5.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
urllib3 @ file:///croot/urllib3_1718912636303/work
Werkzeug @ file:///croot/werkzeug_1716533313107/work
wheel==0.43.0